/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-feb-2015, 15:50:55
    Author     : Frank
*/

body{
    background: #f9f9f9;
}



div.head {
    //position: fixed;
    height: 50px;
    //background: #f9f9f9;
    background: white;
    color: yellowgreen;
    //bottom: 0;
    width: 100%;
    font-size: 18px;
}

div.head-fixed {
    position: fixed;
    height: 50px;
    //background: #f9f9f9;
    background: white;
    color: yellowgreen;
    //bottom: 0;
    width: 100%;
    font-size: 18px;
    z-index: 2;
}





div.movil{
    width: 280px;
    background: white;
    z-index: 1;
}

div.body{
    
    background: #f9f9f9;
}

div.margen{
    width: 290px;
    //background: white;
    background: #f9f9f9;
}

div.footer {
    position: fixed;
    height: 50px;
    //background: #E2F2DC;
    background: transparent;
    bottom: 0;
    width: 100%;
    
}

div.pendietes{
    
    float: top;
   
}

div.pendientes-a{
   width: 40%;
   float: right;
   text-align: center;
}

div.pendientes-b{
   width: 40%; 
   float: left;
   text-align: center;
}
div.pendientes-c{
   width: 100%; 
   float: end;
   text-align: center;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

