/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-feb-2015, 15:50:55
    Author     : Frank
*/

body{
    background: #f9f9f9;
}



div.head {
    //position: fixed;
    height: 50px;
    background: #E2F2DC;
    color: #286090;
    //bottom: 0;
    width: 100%;
}

div.movil{
    width: 280px;
    background: white;
}

div.body{
    
    background: #f9f9f9;
}

div.margen{
    width: 290px;
    background: white;
}

div.footer {
    position: fixed;
    height: 50px;
    //background: #E2F2DC;
    background: transparent;
    bottom: 0;
    width: 100%;
    
}


