/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-feb-2015, 15:50:55
    Author     : Frank
*/

body{
   background: #F3F3F3;
}

body.login{
   background: white;
}

div.super-head{
    position: fixed; 
    height: 60px; 
    z-index: 4; 
    width: 100%;
}

div.head {
    //position: fixed;
    height: 55px;
    //background: #f9f9f9;
    background: white;
    color: yellowgreen;
    //bottom: 0;
    width: 100%;
    font-size: 18px;
    border-bottom: 2px solid #9d9d9d;
}

div.head-fixed {
    position: fixed;
    height: 50px;
    //background: #f9f9f9;
    background: white;
    color: yellowgreen;
    //bottom: 0;
    width: 100%;
    font-size: 18px;
    z-index: 2;
}


div.head-left{
    width: 40%;
    float: left;
    background-image: url(../images/refinal-web-2.png);
    
    background-size: 100px 30px;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 10px;
    z-index: 3;
}

div.head-center{
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top:10px;
    
}

div.head-right{
    width: 20%;
    float: right;
    height: 100%;
    
    text-align: left;
    
}


div.head-filtro{
    
    background: #2e6399;
    height: 40px;
}


div.movil{
    width: 90%;
    background: white;
    z-index: 1;
}

div.movil-menu{
    width: 400px;
    background: white;
    z-index: 1;
}


div.movil-usuario{
    width: 50%;
    background: white;
    z-index: 1;
}

div.body{
    
    background: #F3F3F3;
}

div.body-white{
    
    background: white;
}

div.body-login{
    
    background: white;
}

div.margen{
    width: 90%;
    //background: white;
    background: #F3F3F3;
}

div.margen-white{
    width: 90%;
    background: white;
}

div.margen-menu{
    width: 100%;
    height: 100%;
    //background: white;
    background: white;
}

div.margen-login{
    width: 400px;
    //background: white;
    background: white;
}

div.footer {
    position: fixed;
    height: 50px;
    //background: #E2F2DC;
    background: transparent;
    bottom: 0;
    width: 100%;
    
}

div.footer-transparent {
    position: fixed;
    height: 70px;
    background: transparent;
    border: transparent;
    bottom: 0;
    width: 100%;
    
}

div.pendietes{
    
    float: top;
   
}

div.pendientes-a{
   width: 40%;
   float: right;
   text-align: center;
}

div.pendientes-b{
   width: 40%; 
   float: left;
   text-align: center;
}
div.pendientes-c{
   width: 100%; 
   float: end;
   text-align: center;
}

div.input-login{
    width: 100%;
    
   
   border-top: 1px outset #EBE1FA;
   
   
}

navbar.nav-head-re{
    background: white;
    height: 60px;
    border-bottom: 2px solid #9d9d9d;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}



input.text-input{
    color: #66afe9;
    font-size: large;
    height: 40px;
    //border: #422668;
    border-color: white;
    
    
}


a.boton-login{
    //background: #3c3c3c;
    //background: #422668;
    
    color: white;
    width: 100%;
    
    
    //border-color: #422668;
    //border: #422668;
}

.mi-input::-webkit-input-placeholder { color: #66afe9;}
.mi-input:-moz-placeholder { color: #66afe9; }
.mi-input::-moz-placeholder { color: #66afe9; }
.mi-input:-ms-input-placeholder { color: #66afe9; }



button.boton-cerrar{
    background: transparent;
   
    background-image: url(../images/btn-cerrar.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-position: center;
    
    
}

a.boton-factura{
    background: transparent;
   
    background-image: url(../images/btn-new-0.png);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    background-position: center;
    
    
}

a.boton-factura:hover{
    
    //background: #CDE6D8;
    background: transparent;
    background-image: url(../images/btn-new-1.png);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    background-position: center;
    
}

a.boton-crear{
    background: transparent;
   
    background-image: url(../images/btn-crear.png);
    background-size: 129px 34px;
    background-repeat: no-repeat;
    width: 129px;
    height: 34px;
    background-position: center;
    
    
}

button.boton-filtro{
    background: transparent;
   
    background-image: url(../images/btn-filtro-0.png);
    background-size: 100px 25px;
    background-repeat: no-repeat;
    width: 100px;
    height: 25px;
    background-position: center;
    
    
}







button.boton-filtro:hover{
    
    //background: #CDE6D8;
    background: transparent;
    background-image: url(../images/btn-filtro-1.png);
    background-size: 100px 25px;
    background-repeat: no-repeat;
    width: 100px;
    height: 25px;
    background-position: center;
    
}

a.btn-generico{
    //background: transparent;
    color: white;
    background-image: url(../images/btn-generico-0.png);
    background-size: 100% 52px;
    background-repeat: no-repeat;
    width: 100%;
    height: 52px;
    background-position: center;
    
    
}


a.btn-generico:hover{
    
    //background: #CDE6D8;
    //background: transparent;
    background-image: url(../images/btn-generico-1.png);
    background-size: 100% 52px;
    background-repeat: no-repeat;
    width: 100%;
    height: 52px;
    background-position: center;
    color: white;
    
}


a.boton-descargar{
    
    color: white;
    background-image: url(../images/btn-descargar-0.png);
    background-size: 302px 42px;
    background-repeat: no-repeat;
    width: 302px;
    height: 42px;
    background-position: center;
}

a.boton-descargar:hover{
    
    //background: #CDE6D8;
    //background: transparent;
    background-image: url(../images/btn-descargar-1.png);
    background-size: 302px 42px;
    background-repeat: no-repeat;
    width: 302px;
    height: 42px;
    background-position: center;
    
}

tr.filters{
    
  color: #286090;
}

a.boton-eliminar{
    
    
    background-image: url("../images/icon inactivo.png"); 
    background-size: 32px 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-position: center;
}


a.boton-listo{
    background: transparent;
   
    background-image: url(../images/btn-listo-0.png);
    background-size: 166px 40px;
    background-repeat: no-repeat;
    width: 166px;
    height: 40px;
    background-position: center;
    
    
}

a.boton-listo:hover{
    
    //background: #CDE6D8;
    background: transparent;
    background-image: url(../images/btn-listo-1.png);
    background-size: 166px 40px;
    background-repeat: no-repeat;
    width: 166px;
    height: 40px;
    background-position: center;
    
}


a.boton-atras-w{
    background: transparent;
   
    background-image: url(../images/btn-atras-w-0.png);
    background-size: 166px 40px;
    background-repeat: no-repeat;
    width: 166px;
    height: 40px;
    background-position: center;
    
    
}

a.boton-atras-w:hover{
    
    //background: #CDE6D8;
    background: transparent;
    background-image: url(../images/btn-atras-w-1.png);
    background-size: 166px 40px;
    background-repeat: no-repeat;
    width: 166px;
    height: 40px;
    background-position: center;
    
}



a.boton-user{
    
   
    background-image: url(../images/btn-user-0.png);
    background-size: 302px 42px;
    background-repeat: no-repeat;
    width: 302px;
    height: 42px;
    background-position: center;
    
    
}

a.boton-user:hover{
    
    //background: #CDE6D8;
    
    background-image: url(../images/btn-user-1.png);
    background-size: 302px 42px;
    background-repeat: no-repeat;
    width: 302px;
    height: 42px;
    background-position: center;
    
}


a.boton-user-sesion{
    
   
    background-image: url(../images/icon_10.png); background-size: 27px 35px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position: center; 
    
    
}

a.boton-refinal-head{
    background-image: url(../images/refinal-web-2.png);
    background-size: 160px 45px;
    background-repeat: no-repeat;
    width: 176px;
    height: 50px;
    background-position: center; 
}

a.boton-editar{
    
    background: transparent; 
    background-image: url("../images/btn-editar-0.png"); 
    background-size: 129px 35px;
    background-repeat: no-repeat;
    width: 129px;
    height: 35px;
    background-position: center;
}

a.boton-editar:hover{
    
    //background: #CDE6D8;
    
    background-image: url(../images/btn-editar-1.png);
    background-size: 129px 35px;
    background-repeat: no-repeat;
    width: 129px;
    height: 35px;
    background-position: center;
    
}


a.boton-item{
    
   
    background-image: url(../images/btn-item-0.png);
    background-size: 302px 42px;
    background-repeat: no-repeat;
    width: 302px;
    height: 42px;
    background-position: center;
    
    
    
}

a.boton-item:hover{
    
    //background: #CDE6D8;
    
    background-image: url(../images/btn-item-1.png);
    background-size: 302px 42px;
    background-repeat: no-repeat;
    width: 302px;
    height: 42px;
    background-position: center;
    
}


a.boton-plaza{
    
   
    background-image: url(../images/btn-plaza-0.png);
    background-size: 302px 42px;
    background-repeat: no-repeat;
    width: 302px;
    height: 42px;
    background-position: center;
    
    
    
}

a.boton-plaza:hover{
    
    //background: #CDE6D8;
    
    background-image: url(../images/btn-plaza-1.png);
    background-size: 302px 42px;
    background-repeat: no-repeat;
    width: 302px;
    height: 42px;
    background-position: center;
    
}

a.boton-gestionar-item{
    
    background: transparent; 
    background-image: url("../images/btn-gestionar-0.png"); 
    background-size: 129px 35px;
    background-repeat: no-repeat;
    width: 129px;
    height: 35px;
    background-position: center;
}

a.boton-gestionar-item:hover{
    
    //background: #CDE6D8;
    
    background-image: url(../images/btn-gestionar-1.png);
    background-size: 129px 35px;
    background-repeat: no-repeat;
    width: 129px;
    height: 35px;
    background-position: center;
    
}


a.boton-proveedor{
    
   
    background-image: url(../images/btn-proveedor-0.png);
    background-size: 302px 42px;
    background-repeat: no-repeat;
    width: 302px;
    height: 42px;
    background-position: center;
    
    
}

a.boton-proveedor:hover{
    
    //background: #CDE6D8;
    
    background-image: url(../images/btn-proveedor-1.png);
    background-size: 302px 42px;
    background-repeat: no-repeat;
    width: 302px;
    height: 42px;
    background-position: center;
    
}
